:root {
  --colors-indigo-100: #D6F4FE;
  --colors-indigo-200: #AEE5FE;
  --colors-indigo-300: #86D2FD;
  --colors-indigo-400: #67BEFB;
  --colors-indigo-500: #369EF9;
  --colors-indigo-600: #277BD6;
  --colors-indigo-700: #1B5CB3;
  --colors-indigo-800: #114090;
  --colors-indigo-900: #0A2D77;
  --colors-yellow-100: #FFF5CC;
  --colors-yellow-200: #FFE899;
  --colors-yellow-300: #FFD866;
  --colors-yellow-400: #FFC83F;
  --colors-yellow-500: #FFAE00;
  --colors-yellow-600: #FFAE00;
  --colors-yellow-700: #B77100;
  --colors-yellow-800: #935600;
  --colors-yellow-900: #7A4300;
  --colors-green-100: #EEFBD0;
  --colors-green-200: #DAF8A2;
  --colors-green-300: #BBEA71;
  --colors-green-400: #99D54B;
  --colors-green-500: #6CBA1A;
  --colors-green-600: #549F13;
  --colors-green-700: #3F850D;
  --colors-green-800: #2C6B08;
  --colors-green-900: #1F5904;
  --colors-blue-100: #D6E9FF;
  --colors-blue-200: #ADD1FF;
  --colors-blue-300: #83B5FF;
  --colors-blue-400: #659EFF;
  --colors-blue-500: #3277FF;
  --colors-blue-600: #245BDB;
  --colors-blue-700: #1943B7;
  --colors-blue-800: #0F2E93;
  --colors-blue-900: #091F7A;
  --colors-red-100: #FFE6D8;
  --colors-red-200: #FFC6B1;
  --colors-red-300: #FFA08A;
  --colors-red-400: #FF7C6D;
  --colors-red-500: #FF403D;
  --colors-red-600: #DB2C38;
  --colors-red-700: #B71E36;
  --colors-red-800: #931332;
  --colors-red-900: #7A0B2F;
  --colors-gray-100: #E4ECF5;
  --colors-gray-200: #CAD8EC;
  --colors-gray-300: #9CADC7;
  --colors-gray-400: #697790;
  --colors-gray-500: #2D3546;
  --colors-gray-600: #20283C;
  --colors-gray-700: #161D32;
  --colors-gray-800: #0E1428;
  --colors-gray-900: #080D21;
  --colors-text: #2D3546;
  --colors-text-disabled: #9DA7BE;
  --colors-disabled: #edf0f8;
  --colors-white: #ffffff;
  --colors-black: #000000;
  --colors-primary-100: #D6E9FF;
  --colors-primary-200: #ADD1FF;
  --colors-primary-300: #83B5FF;
  --colors-primary-400: #659EFF;
  --colors-primary-500: #3277FF;
  --colors-primary-600: #245BDB;
  --colors-primary-700: #1943B7;
  --colors-primary-800: #0F2E93;
  --colors-primary-900: #091F7A;
  --colors-danger-100: #FFE6D8;
  --colors-danger-200: #FFC6B1;
  --colors-danger-300: #FFA08A;
  --colors-danger-400: #FF7C6D;
  --colors-danger-500: #FF403D;
  --colors-danger-600: #DB2C38;
  --colors-danger-700: #B71E36;
  --colors-danger-800: #931332;
  --colors-danger-900: #7A0B2F;
  --colors-warning-100: #FFF5CC;
  --colors-warning-200: #FFE899;
  --colors-warning-300: #FFD866;
  --colors-warning-400: #FFC83F;
  --colors-warning-500: #FFAE00;
  --colors-warning-600: #FFAE00;
  --colors-warning-700: #B77100;
  --colors-warning-800: #935600;
  --colors-warning-900: #7A4300;
  --colors-success-100: #EEFBD0;
  --colors-success-200: #DAF8A2;
  --colors-success-300: #BBEA71;
  --colors-success-400: #99D54B;
  --colors-success-500: #6CBA1A;
  --colors-success-600: #549F13;
  --colors-success-700: #3F850D;
  --colors-success-800: #2C6B08;
  --colors-success-900: #1F5904;
  --colors-info-100: #D6F4FE;
  --colors-info-200: #AEE5FE;
  --colors-info-300: #86D2FD;
  --colors-info-400: #67BEFB;
  --colors-info-500: #369EF9;
  --colors-info-600: #277BD6;
  --colors-info-700: #1B5CB3;
  --colors-info-800: #114090;
  --colors-info-900: #0A2D77;
  --font-sizes-xs: 0.75rem;
  --font-sizes-sm: 0.875rem;
  --font-sizes-md: 1rem;
  --font-sizes-lg: 1.25rem;
  --font-sizes-xl: 1.5rem;
}

:root.dark {
  --colors-primary-100: #D6E9FF;
  --colors-primary-200: #ADD1FF;
  --colors-primary-300: #83B5FF;
  --colors-primary-400: #659EFF;
  --colors-primary-500: #3277FF;
  --colors-primary-600: #245BDB;
  --colors-primary-700: #1943B7;
  --colors-primary-800: #0F2E93;
  --colors-primary-900: #091F7A;
  --colors-danger-100: #FFE6D8;
  --colors-danger-200: #FFC6B1;
  --colors-danger-300: #FFA08A;
  --colors-danger-400: #FF7C6D;
  --colors-danger-500: #FF403D;
  --colors-danger-600: #DB2C38;
  --colors-danger-700: #B71E36;
  --colors-danger-800: #931332;
  --colors-danger-900: #7A0B2F;
  --colors-warning-100: #FFF5CC;
  --colors-warning-200: #FFE899;
  --colors-warning-300: #FFD866;
  --colors-warning-400: #FFC83F;
  --colors-warning-500: #FFAE00;
  --colors-warning-600: #FFAE00;
  --colors-warning-700: #B77100;
  --colors-warning-800: #935600;
  --colors-warning-900: #7A4300;
  --colors-success-100: #EEFBD0;
  --colors-success-200: #DAF8A2;
  --colors-success-300: #BBEA71;
  --colors-success-400: #99D54B;
  --colors-success-500: #6CBA1A;
  --colors-success-600: #549F13;
  --colors-success-700: #3F850D;
  --colors-success-800: #2C6B08;
  --colors-success-900: #1F5904;
  --colors-info-100: #D6F4FE;
  --colors-info-200: #AEE5FE;
  --colors-info-300: #86D2FD;
  --colors-info-400: #67BEFB;
  --colors-info-500: #369EF9;
  --colors-info-600: #277BD6;
  --colors-info-700: #1B5CB3;
  --colors-info-800: #114090;
  --colors-info-900: #0A2D77;
}
